
<!-- +++++ Information Section +++++ -->



<div class="container pt">
	<div class="row mt centered">
		<div class="col-lg-3">
			<img class="info-image-book" alt="books" src="/img/book.jpg"></img>
			<p>Books are like wormholes, taking you instantly into a
				different universe and a time frame. For me, reading a book is like
				journey at the end of which I will meet a new me.</p>
		</div>

		<div class="col-lg-3">
			<img class="info-image-book" alt="books" src="/img/music.jpg"></img>
			<p>Music simply inspires me.</p>
		</div>

		<div class="col-lg-3">
			<img class="info-image-book" alt="books" src="/img/writing.jpg"></img>
			<p>Writing is a process of revelation to me. The way of getting
				to know myself. Getting to know the person that is hiding inside me.

				Sometimes it is a pursuit of pure freedom and bliss. Sometimes it is
				the purging of darkness inside me. Either way, I am one step closer
				to myself.</p>
		</div>

		<div class="col-lg-3">
			<img class="info-image-book" alt="books" src="/img/programming.jpg"></img>
			<p>Programming is my passion. A silent place, a beautiful song
				playing on my ear phones and my fingers dancing over my keyboard.
				This is my ideal day. For me programming is a kind of poetry, an
				art. A beautiful program is like a beautiful painting pleasing to
				both mind and soul. So I sometimes like to call myself an artist.</p>
		</div>
	</div>
</div>

<div class="container pt1">
	<div class="row mt">
		<div class="col-lg-6">
			<blockquote class="blockquote">
				<p class="mb-0">“Fall in love with some activity, and do it!
					Nobody ever figures out what life is all about, and it doesn't
					matter. Explore the world. Nearly everything is really interesting
					if you go into it deeply enough. Work as hard and as much as you
					want to on the things you like to do the best. Don't think about
					what you want to be, but what you want to do."</p>
				<footer class="blockquote-footer"> Richard Feynmann </footer>
			</blockquote>
		</div>
	</div>
</div>
<!-- /row --
<!-- /container -->