<!-- +++++ Welcome Section +++++ -->
<div id="ww">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="/img/pramithas.jpg" alt="Pramithas" id="home-image"></img>
				<h1>Hi, I am Pramithas Dhakal!</h1>
				<p>Hello everybody. I'm Pramithas, a software engineer.I am a
					java programmer. I am an introvert. So this profession suits me
					well. A silent place, a beautiful song playing on my ear phones and
					my fingers dancing over my keyboard. This is my ideal day. For me
					programming is a kind of poetry, an art. A beautiful program is
					like a beautiful painting pleasing to both mind and soul. So I
					sometimes like to call myself an artist.</p>
			</div>
			<!-- /col-lg-8 -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /ww -->